@using BlogApp.Models.ViewModel
@model LoginViewModel
@{
    ViewBag.Title = "LOGIN";
    Layout = "~/Views/Auth/_LayoutAuth.cshtml";
}

<div id="target">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 text-center content-login" style="border:solid;padding:15px;">
        <div id="overlayDiv" class="overlay" style="display:none">
            @*<img src="~/Images/loader.gif" />*@
        </div>
        <h2>LOGIN</h2>
        @if (ViewBag.resetpassword != null)
        {
            <span class="text-success">
                @ViewBag.resetpassword
            </span>
        }

        @using (Ajax.BeginForm("Login", "Auth", null, new AjaxOptions()
        {
            HttpMethod = "POST",
            UpdateTargetId = "target",
            InsertionMode = InsertionMode.Replace,
            OnBegin = "showOverlay",
            OnComplete = "hideOverlayandRedirect"
        }, new { id = "loginForm" }))
        {
            <hr />
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control col-centered", placeholder = "Username" });
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "failMessage" })
            @Html.ValidationMessage("LoginFailure", new { @class = "failMessage" })
            <br />
            @Html.PasswordFor(m => m.Password, new { @class = "form-control col-centered", placeholder = "Password" });
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "failMessage" })
            <br />
            
            <br />
            <input type="submit" class="btn btn-danger no-radius" value="LOGIN" />

            @Ajax.ActionLink("REGISTER", "Register", "Auth", null, new AjaxOptions()
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "target",
           OnBegin = "showOverlay",
           OnComplete = "hideOverlay"
       }, new { @class = "btn btn-danger no-radius" })
        }
        <br />
        @Ajax.ActionLink("Forgot Password?", "Forgot", "Auth", null, new AjaxOptions()
   {
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace,
       UpdateTargetId = "target",
       OnBegin = "showOverlay",
       OnComplete = "hideOverlay"
   }, new { @class = "" })
    </div>
</div>