@using BlogApp.Models.ViewModel
@model RegisterViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Auth/_Layout.cshtml";
}

<h2>REGISTER</h2>

@using (Html.BeginForm("Register", "Auth", FormMethod.Post))
{
    @Html.ValidationSummary()
    <hr />
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control col-centered", placeholder = "Username" });
    @Html.ValidationMessageFor(m => m.Username);
    <br />
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-centered", placeholder = "Email" });
    @Html.ValidationMessageFor(m => m.Email)
    <br />
        @Html.PasswordFor(m => m.Password, new { @class = "form-control col-centered", placeholder = "Password" });
    @Html.ValidationMessageFor(m => m.Password)
    <br />
        <input type="submit" class="btn btn-danger" value="REGISTER" />
        @Html.ActionLink("LOGIN", "Login", "Auth", new { area = "" }, new { @class = "btn btn-danger" })
}
