
@using BlogApp.Models
@model Post

@{
    ViewBag.Title = "SinglePost";
}

<div>
    @*Left Container*@
    @*setting tempdata.postid to access post id in comment partial view.*@
    <div class="col-xs-12 col-md-9">
        <div class="col-xs-12">
            <div class="panel panel-primary content-singlepost">
                <div class="panel-heading">
                    <b>@Model.Title</b>
                    
                    @if (Request.Cookies["auth"] != null && (Convert.ToInt32(Request.Cookies["user"].Value) == Model.User.Id))
                    {
                        <a href="#" class="delete-button" data-toggle="tooltip" data-placement="bottom" title="Delete this post?">
                            <span class="glyphicon glyphicon-remove clickable" 
                                  onclick="location.href='@Url.Action("DeletePost", "User",new { postid=Model.Id})'"></span>
                        </a>
                    }
                </div>
                <div class="panel-body" style="min-height:280px">
                    @Model.Description <br />
                </div>

                @if (Model.Tags.Count > 0)
                {
                    <div class="panel-footer">
                        @foreach (var item in Model.Tags)
                        {
                            <span class="btn btn-default tag-custom" onclick="location.href='@Url.Action("Category","Blogs",new { id = item.Id,title = item.Title })'">
                                @item.Title + @item.Famous
                            </span>
                        }
                    </div>
                }

                <div class="panel-footer">
                    <b>@Model.User.Name</b> |
                    <b id="post @Model.Id">
                        <script>updateDate('@Model.PublishedAt', 'post @Model.Id')</script>
                    </b>
                </div>
            </div>
        </div>
    </div>


    @*//Right Container*@
    <div class="hidden-xs hidden-sm visible-md-block col-md-3 visible-lg-block col-lg-3 fixed-bar-right">
        @{ Html.RenderPartial("_FixedRightBar");}
    </div>
</div>

<div class="col-xs-12 col-md-9" style="padding:30px">
    @*comments*@
    @if (Request.Cookies["auth"] != null)
    {
        { Html.RenderPartial("_AddComment", new BlogApp.Models.ViewModel.CommentViewModel(Model.Id)); }
    }
    else
    {
        <i>Login to comment!</i>
    }

    <hr />
    <div id="commentsection">
        @{Html.RenderPartial("_Comments", Model.Comments);}
    </div>

</div>