@using BlogApp.Models
@model Post

@{
    ViewBag.Title = "SinglePost";
}


<div class="col-xs-12">
    <div class="panel panel-primary content">
        <div class="panel-heading">
            @Model.Title
        </div>
        <div class="panel-body panel-body-custom" style="min-height:400px">
            @Model.Description <br />
            @foreach (var item in Model.Tags)
            {
                <span class="btn btn-default tag-custom">
                    @item.Title
                </span>
            }
        </div>
        <div class="panel-footer">
            @Model.PublishedAt | @Model.User.Name
        </div>
    </div>
</div>
