@using BlogApp.Models
@model Post

@{
    ViewBag.Title = "SinglePost";
}

@*Left Container*@
<div class="col-xs-12 col-md-9">
    <div class="col-xs-12">
        <div class="panel panel-primary content-singlepost">
            <div class="panel-heading">
                <b>@Model.Title</b>
            </div>
            <div class="panel-body" style="min-height:280px">
                @Model.Description <br />
            </div>
            <div class="panel-footer">
                @foreach (var item in Model.Tags)
                {
                    <span class="btn btn-default tag-custom" onclick="location.href='@Url.Action("Category","Blogs",new { id = item.Id,title = item.Title })'">
                        @item.Title + @item.Famous
                    </span>
                }
            </div>
            <div class="panel-footer">
                <b>@Model.User.Name</b>| @Model.PublishedAt
            </div>
        </div>
    </div>
</div>


@*//Right Container*@
<div class="hidden-xs hidden-sm visible-md-block col-md-3 visible-lg-block col-lg-3 fixed-bar-right">
    @{ Html.RenderPartial("_FixedRightBar");}
</div>