@using BlogApp.Models.ViewModel
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    @Html.ValidationSummary()
    <hr />
    @Html.TextBoxFor(m => m.Username);
    @Html.ValidationMessageFor(m => m.Username);
    @Html.PasswordFor(m => m.Password);
    @Html.ValidationMessageFor(m => m.Password)

    <input type="submit" class="btn btn-danger" value="Login" />
}
